# Ignore Visual Studio temporary files  
.vs/  
*.vscode/  
*.user  
*.suo  
*.sln.ide  
*.ncb  
*.obj  
*.bin  
*.exe  
*.dll  

# Ignore build results  
[Bb]in/  
[Oo]bj/  

# Ignore package directories  
[Pp]ackages/